<div class="jumbotron"><h2>Add a New Listing</h2>

<form action="/listings" method="POST">
  <label> Title: </label>
  <input type="text" name="title"> </br>

  <label> Price: </label>
  <input type="text" name="price"> </br>

  <label> Location: </label>
  <input type="text" name="location"> </br>

  <label> Description: </label></br>
  <textarea rows="4" cols="50" name="description"></textarea></br>
  <input type="hidden" value="<%=current_user.id %>" name="user_id">

  <input type="submit" value="Create">
</form>
</div>
