<h1>Add a New Listing</h1>

<form action="/listings" method="POST">
  <label> Title </label>
  <input type="text" name="title"> </br>

  <label> Price </label>
  <input type="text" name="price"> </br>

  <label> Location </label>
  <input type="text" name="location"> </br>

  <label> Description </label>
  <input type="text" name="description"> </br>

  <input type="submit" value="Create">
</form>
