<h3>Login</h3>
<form action="/login" method="POST">
  <p>Username: <input type="text" name="username"></p>
  <p>Password: <input type="password" name="password"></p>
  <input type="submit" value="Submit">
</form>
<p>If you don't have an account with us, <a href="/signup">Click here</a> to Sign Up!</p>
