<!doctype html>
<html>
  <head>
    <title>Get Rid Of It</title>
  </head>
  <body>
    <nav>
  <% if logged_in? %>
  <a href="/listings/new"> Create a Listing </a>
  <a href="/logout"> Log Out </a>
  <p>Welcome, <%=current_user.username %></p>
  <% else %>
    <a href="/signup">Sign Up</a>
    <a href="/login"> Sign In </a>
  <%end %>
</nav>
    <%= yield %>
  </body>
</html>
